@font-face {
  font-family: "LINESeedSansTH_Bd";
  src: url(/font/LINESeedSansTH_Bd.ttf);
}

@font-face {
  font-family: "LINESeedSansTH_He";
  src: url(/font/LINESeedSansTH_He.ttf);
}

@font-face {
  font-family: "LINESeedSansTH_Rg";
  src: url(/font/LINESeedSansTH_Rg.ttf);
}

@font-face {
  font-family: "LINESeedSansTH_Th";
  src: url(/font/LINESeedSansTH_Th.ttf);
}

@font-face {
  font-family: "LINESeedSansTH_XBD";
  src: url(/font/LINESeedSansTH_XBd.ttf);
}


body {
  font-family: "LINESeedSansTH_RG", sans-serif;
  background-color: #151515;
}

.font-thin {
  font-family: "LINESeedSansTH_Th", sans-serif;
}

.font-heavy {
  font-family: "LINESeedSansTH_He", sans-serif;
}

.regular_font {
  font-family: "LINESeedSansTH_Rg", sans-serif;
}

.font-bold {
  font-family: "LINESeedSansTH_XBD", sans-serif;
}

.containers {
  margin: 0 auto;
  max-width: 1340px;
}

@media (min-width: 640px) {
  .containers {
    max-width: 1340px;
  }
}

.navbar {
  background: transparent;
  transition: background 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* You can adjust the color and transparency */
  backdrop-filter: blur(10px);
  border-radius: 0px;

}

.animate-class {
  opacity: 0;
  scale: 0.9;
  transition: all 0.8s ease;
  transform: translateY(50px);
}

.show {
  opacity: 1;
  scale: 1;
  transform: translateY(0);
}

.delay-1 {
  transition-delay: 0.1s;
}

.delay-2 {
  transition-delay: 0.2s;
}

.delay-3 {
  transition-delay: 0.3s;
}

.delay-4 {
  transition-delay: 0.4s;
}

.delay-5 {
  transition-delay: 0.5s;
}

.delay-6 {
  transition-delay: 0.6s;
}

.delay-7 {
  transition-delay: 0.7s;
}

.delay-8 {
  transition-delay: 0.8s;
}

.delay-9 {
  transition-delay: 0.9s;
}

.delay-10 {
  transition-delay: 1s;
}


.navbar {
  background: transparent;
  transition: background 0.3s ease;
}


.workshop-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#modal {
  display: none; /* Start hidden */
}


.stroke{
  -webkit-text-stroke: 2px #fff;
}